<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sam.dao.BackDao">
	<insert id="addAssetBack" parameterType="com.sam.entity.AssetBack">
		insert into AssetBack(abid,auname,abdate,abdeluser,abcontent) 
			values(AssetBack_seq.nextval,#{auname},to_date(#{abdate},'yyyy-mm-dd'),#{abdeluser},#{abcontent})
	</insert>
</mapper>
