<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sam.dao.BroorwDao">
	<!-- 添加借出申请 -->
	<insert id="addBroow" parameterType="com.sam.entity.AssetBroorw">
		insert into AssetBroorw(abid,auname,abbackDate,abdate,adname,abreson,abResult)
			values(#{abid},#{auname},to_date(#{abbackdate},'yyyy-mm-dd'),sysdate,#{adname},#{abreson},'待审批')
	</insert>
	
	<update id="updBroorwWhenOk" parameterType="java.lang.Integer">
		update assetbroorw set abresult='已通过' where abid=#{abid}
	</update>
	
	<update id="updBroorwWhenRefuse" parameterType="com.sam.entity.AssetBroorw">
		update assetbroorw set abresult='未通过',abresultremark=#{abresultremark} where abid=#{abid}
	</update>
	
	<update id="updateBroowWhenBack" parameterType="java.lang.Integer">
		update assetbroorw set isbacked='已归还' where abid=#{abroowId}
	</update>
	
	<select id="findBroorwByAbid" parameterType="java.lang.Integer" resultType="com.sam.entity.AssetBroorw">
		select * from assetbroorw where abid=#{abid}
	</select>
	
	<select id="findBroorws" resultType="com.sam.entity.AssetBroorw">
		select * from AssetBroorw
	</select>
	
	<select id="findBroorwsByCondition" resultType="com.sam.entity.AssetBroorw" parameterType="com.sam.entity.AssetBroorw">
		select * from assetbroorw where isbacked='未归还' and 1=1 
		<if test="auname != null and auname !=''">
			and auname=#{auname}
		</if>
		<if test="adname != null and adname !=''">
			and adname=#{adname}
		</if>
		<if test="abdate != null and abdate !=''">
			and to_char(abdate,'yyyy-mm-dd')=#{abdate}
		</if>
		<if test="abbackdate != null and abbackdate !=''">
			and to_char(abbackdate,'yyyy-mm-dd')=#{abbackdate}
		</if>
		<if test="abresult !=null and abresult !=''">
			and abresult=#{abresult}
		</if>
	</select>
	
</mapper>
