<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sam.dao.DepartmentDao">
	<!-- 根据部门等级查询部门list -->
	<select id="findAssetDepartmentsByAdlevel" parameterType="int" resultType="com.sam.entity.AssetDepartment">
		select * from assetdepartment where adlevel=#{adlevel}
	</select>
	
	<!-- 根据部门name查询资产 -->
	<select id="findAssetInfosByDname" parameterType="String" resultType="com.sam.entity.AssetInfo">
		select * from AssetInfo where adname=#{dname}
	</select>
	
	<!-- 查询全部的资产 -->
	<select id="findAssetInfos" resultType="com.sam.entity.AssetInfo">
		select * from AssetInfo
	</select>
	
	<!-- 查询全部的二级部门 -->
	<select id="findAllSecondDepartments" resultType="com.sam.entity.AssetDepartment">
		select * from 	assetdepartment where adlevel != 0
	</select>
	
	<select id="findAll" resultType="com.sam.entity.AssetDepartment">
		select * from AssetDepartment
	</select>
	<!-- 增加一级部门 -->
	<insert id="addDepartment"  parameterType="com.sam.entity.AssetDepartment">
	  insert into AssetDepartment (adid,adname,adlevel) values(AssetDepartment_seq.nextval,#{adname},0)
	</insert>
	
	<insert id="addDepartmentSecond" parameterType="com.sam.entity.AssetDepartment">
	  insert into AssetDepartment (adid,adname,adlevel) values(AssetDepartment_seq.nextval,#{adname},#{adlevel})
	</insert>
	
	<delete id="deleteDepartment" parameterType="java.lang.Integer">
	 delete from AssetDepartment where adid =#{adid}
	</delete>
	
	<update id="updateDepartment"  parameterType="com.sam.entity.AssetDepartment">
	  update AssetDepartment set adname =#{adname},adlevel =#{adlevel} where adid =#{adid}
	</update>
	
</mapper>
