<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sam.dao.HouseDao">
	<select id="findAllHouse" resultType="com.sam.entity.AssetHouse">
		select * from assethouse
	</select>
	
	<select id="findAllFirstHouse" resultType="com.sam.entity.AssetHouse">
		select * from assethouse where ahlevel=0
	</select>
	
	<select id="findAllSecondHouse" resultType="com.sam.entity.AssetHouse">
		select * from assethouse where ahlevel=1
	</select>
</mapper>
