<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sam.dao.HouseDao">
	<select id="findAllHouse" resultType="com.sam.entity.AssetHouse">
		select * from assethouse
	</select>
	
	<select id="findHouseByAhlevel" parameterType="int" resultType="com.sam.entity.AssetHouse">
		select * from assethouse where ahlevel=#{ahlevel}
	</select>
	
	<select id="findAssetInfosByAhname" parameterType="String" resultType="com.sam.entity.AssetInfo">
		select * from AssetInfo where ahname=#{ahname}
	</select>
	
	<insert id="addHouse" parameterType="com.sam.entity.AssetHouse">
	 insert into AssetHouse(ahid,ahname,auname,ahbeizhu) values(AssetHouse_seq.nextval,#{ahname},#{auname},#{ahbeizhu})
	</insert>
	
	<delete id="deleteHouse" parameterType="java.lang.Integer">
	   delete from AssetHouse where ahid =#{ahid}
	</delete>
	
	<update id="updateHouse"  parameterType="com.sam.entity.AssetHouse">
	  update AssetHouse set ahname =#{ahname},auname=#{auname},ahbeizhu=#{ahbeizhu} where ahid =#{ahid}
	</update>
	
</mapper>
