<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sam.dao.InfoDao">
	<insert id="addInfo" parameterType="com.sam.entity.AssetInfo">
		insert into
		assetinfo(aiid,aimodel,ainame,atname,ahname,acceptid,aidate,aiMeasuer,aiSupply,aiMoney,aiLife,aiRemark,aidepreciation,airemainratio)
		values(assetinfo_seq.nextval,#{aimodel},#{ainame},#{atname},#{ahname},#{acceptid},sysdate,to_date(#{aimeasuer},'yyyy-mm-dd'),#{aisupply},#{aimoney},to_date(#{ailife},'yyyy-mm-dd'),#{airemark},#{aidepreciation},#{airemainratio})
	</insert>
	<select id="findInfoByAiname" parameterType="java.lang.String"
		resultType="com.sam.entity.AssetInfo">
		select * from assetinfo where ainame=#{ainame}
	</select>
	<select id="findInfoByAiid" parameterType="java.lang.Integer"
		resultType="com.sam.entity.AssetInfo">
		select * from assetinfo where aiid=#{aiid}
	</select>
	<select id="findInfoByAsname" parameterType="java.lang.String"
		resultType="com.sam.entity.AssetInfo">
		select * from assetinfo where asname = #{asname}
	</select>
	<select id="findInfoByAcid" parameterType="int"
		resultType="com.sam.entity.AssetInfo">
		select * from assetinfo where acid = #{acid}
	</select>
	<select id="findInfoByArid" parameterType="int"
		resultType="com.sam.entity.AssetInfo">
		select * from assetinfo where arid = #{arid}
	</select>
	<update id="updInfoAsname" parameterType="com.sam.entity.AssetInfo">
		update assetinfo set
		asname='维修中',repairid=#{repairid} where aiid=#{aiid}
	</update>
	<update id="updInfoAcid" parameterType="com.sam.entity.AssetInfo">
		update assetinfo set
		acceptid=#{acceptid},ahname='',adname=#{adname},asname=#{asname} where aiid=#{aiid}
	</update>

	<select id="findInfoByCondition" parameterType="com.sam.entity.AssetInfo"
		resultType="com.sam.entity.AssetInfo">
		select * from assetinfo where 1=1
		<if test="ainame != null and ainame !=''">
			AND ainame like '%${ainame}%'
		</if>
		
		<if test="atname != null and atname !=''">
			AND atname=#{atname}
		</if>
		<if test="ahname != null and ahname !=''">
			AND ahname=#{ahname}
		</if>
	</select>
	<!-- 查询全部的资产 -->
	<select id="findAssetInfos" resultType="com.sam.entity.AssetInfo">
		select * from AssetInfo
	</select>
	<select id="findInfoNumByAtname" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(1) from assetinfo where atname=#{atname} and asname='未使用'
	</select>
	<select id="findInfoByAtname" parameterType="java.lang.String" resultType="com.sam.entity.AssetInfo">
		select * from assetinfo where atname=#{atname} and asname='未使用'
	</select>
	<!-- 图表查询 -->
	<select id="findAssetInfos" resultType="com.sam.entity.AssetChartUtils">
		select count(*) as assetCount,atname as assetCategory from AssetInfo group by atname;
	</select>
</mapper>
