<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sam.dao.RequireDao">
	<insert id="addRequire" parameterType="com.sam.entity.AssetRequire">
		insert into AssetRequire(arid,artime,arday,arperson,arphone,arstatus)
		 values(#{arid},to_date(#{artime},'yyyy-mm-dd'),#{arday},#{arperson},#{arphone},'已受理')
	</insert>
	
	<select id="findAssetRequires" parameterType="com.sam.entity.AssetRequiresSearch"
		resultType="com.sam.entity.AssetRequire">

		select * from AssetRequire where 1=1
			<if test="beginDay != null and beginDay !=''">
				and arday &gt;= #{beginDay}
			</if>
			<if test="endDay != null and endDay !=''">
				and arday &lt;= #{endDay}
			</if>
			<if test="repairStatus != null and repairStatus != ''">
				and arstatus=#{repairStatus}
			</if>
			
	</select>
</mapper>
