<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sam.dao.RequireDao">
	<insert id="addRequire" parameterType="com.sam.entity.AssetRequire">
		insert into AssetRequire(arid,artime,arday,arperson,arphone,arstatus)
		 values(#{arid},to_date(#{artime},'yyyy-mm-dd'),#{arday},#{arperson},#{arphone},'维修中')
	</insert>
	
	<select id="findAssetRequires" parameterType="com.sam.entity.AssetRequire"
		resultType="com.sam.entity.AssetRequire">

		select * from AssetRequire where 1=1
			<if test="ainame != null">
				and artime=#{artime}
			</if>
			<if test="ainame != null">
				and arday=#{arday}
			</if>
			<if test="ainame != null">
				and arperson=#{arperson}
			</if>
			<if test="ainame != null">
				and arphone=#{arphone}
			</if>
			<if test="ainame != null">
				and arstatus=#{arstatus}
			</if>
			
	</select>
</mapper>
