<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sam.dao.TypeDao">
	<select id="findAll" resultType="com.sam.entity.AssetType">
		select * from AssetType
	</select>
	<select id="findAssetTypeByAtlevel" parameterType="java.lang.Integer"
		resultType="com.sam.entity.AssetType">
		select * from AssetType where atlevel=#{atlevel}
	</select>
	<!-- 根据资产类型name查询资产 -->
	<select id="findAssetInfosByatname" parameterType="String"
		resultType="com.sam.entity.AssetInfo">
		select * from AssetInfo where atname=#{atname}
	</select>

	<select id="findAllSecondAssetType" resultType="com.sam.entity.AssetType">
		select * from AssetType where atlevel!=1
	</select>
	<insert id="addType"  parameterType="com.sam.entity.AssetType">
	  insert into AssetType (atid,atname,atlevel) values(AssetType_seq.nextval,#{atname},0)
	</insert>
	
	<insert id="addTypeSecond" parameterType="com.sam.entity.AssetType">
	  insert into AssetType (atid,atname,atlevel) values(AssetType_seq.nextval,#{atname},#{atlevel})
	</insert>
	
	<delete id="deleteType" parameterType="java.lang.Integer">
	 delete from AssetType where atid =#{atid}
	</delete>
	
	<update id="updateType"  parameterType="com.sam.entity.AssetType">
	  update AssetType set atname =#{atname},atlevel =#{atlevel} where atid =#{atid}
	</update>
	
</mapper>