<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sam.dao.UserDao">
	<select id="findUserByUrname" parameterType="java.lang.String" resultType="com.sam.entity.AssetUser">
		select * from AssetUser where urname=#{urname}
	</select>
	
	<select id="findAllUser" resultType="com.sam.entity.AssetUser">
		select * from AssetUser
	</select>
	
	<select id="findUserWhenLogin" resultType="com.sam.entity.AssetUser" parameterType="com.sam.entity.AssetUser">
		select * from assetuser where auname=#{auname} and aupass=#{aupass}
	</select>
	
	<select id="findfindUserById" parameterType="java.lang.Integer" resultType="com.sam.entity.AssetUser">
		select * from AssetUser where auid=#{auid}
	</select>
	
	<select id="findUserByName" parameterType="java.lang.String" resultType="com.sam.entity.AssetUser">
		select * from AssetUser where auname=#{auname}
	</select>
	
	<insert id="addUser" parameterType="com.sam.entity.AssetUser">
	 insert into AssetUser(auid,auname,aupass,auphone,urname,udname) values(AssetUser_seq.nextval,#{auname},#{aupass},#{auphone},#{urname},#{udname})
	</insert>
	
	<delete id="deleteUser" parameterType="java.lang.Integer">
	   delete from AssetUser where auid =#{auid}
	</delete>
	
	<update id="updateUser"  parameterType="com.sam.entity.AssetUser">
	  update AssetUser set auname =#{auname},auphone=#{auphone},udname=#{udname},urname=#{urname} where auid =#{auid}
	</update>
</mapper>