<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="com/sam/dao/TypeMapper.xml" />
		<mapper resource="com/sam/dao/InfoMapper.xml"/>
		<mapper resource="com/sam/dao/DepartmentMapper.xml"/>
		<mapper resource="com/sam/dao/DictionaryMapper.xml"/>
 		<mapper resource="com/sam/dao/AcceptMapper.xml"/>
		<mapper resource="com/sam/dao/ChangeMapper.xml"/>
		<mapper resource="com/sam/dao/RequireMapper.xml"/>
		<mapper resource="com/sam/dao/BroorwMapper.xml"/> 
		<mapper resource="com/sam/dao/HouseMapper.xml"/> 
		<mapper resource="com/sam/dao/ApplyMapper.xml"/> 
	</mappers>
</configuration>